{% extends 'base.html' %}

{% block content %}

<h2>
    Attendance Records
</h2>

<table>

    <thead>

        <tr>

            <th>Student</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Status</th>

        </tr>

    </thead>

    <tbody>

        {% for attendance in attendance_records %}

        <tr>

            <td>{{ attendance.student }}</td>

            <td>{{ attendance.subject }}</td>

            <td>{{ attendance.date }}</td>

            <td>{{ attendance.status }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}