{% extends 'base.html' %}

{% block content %}

<div class="card">

    <h2>
        Student Details
    </h2>

    {% if object.profile_picture %}

        <img src="{{ object.profile_picture.url }}"
             width="200">

    {% endif %}

    <p>
        <strong>Name:</strong>

        {{ object.first_name }}
        {{ object.last_name }}
    </p>

    <p>
        <strong>Email:</strong>

        {{ object.email }}
    </p>

    <p>
        <strong>Phone:</strong>

        {{ object.phone }}
    </p>

    <p>
        <strong>Course:</strong>

        {{ object.course }}
    </p>

    <p>
        <strong>Address:</strong>

        {{ object.address }}
    </p>

    <div>
        <a href="{% url 'student_edit' object.id %}" class="btn">Edit</a>
        <a href="{% url 'student_delete' object.id %}" class="btn">Delete</a>
        <a href="{% url 'student_list' %}">Back to Students</a>
    </div>

</div>

{% endblock %}